.flex-container-post-date{
    color: grey;
    font-style: italic;
    font-size: 20px;
}

.flex-container-post {
    padding: 10px;
    display: flexbox; /* Korrektur hier */
    
    width: 100%;
    margin: 10px ; /* Korrigiert die Abstände */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: white;
}

.flex-container-post-username {
    font-size: 20px;
    color: purple;
    font-weight: bold;
}

.flex-container-post-header {
    display: flex;
}

.flex-container-post-header > div {
    margin: 5px;
}

.like-container {
    display: flex;
    justify-content: flex-end;
}

.like-container * {
    margin: 2px;
}

.like-count, .dislike-count {
    font-weight: bold;
}
.post{
    margin-bottom: 20px; /* Abstand zwischen den Posts */
    margin-right: 20px;
}