/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
    flex: 1;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

main {
    padding: 20px;
    flex: 1; /* Nimmt den verfügbaren Platz ein */
    display: flex;
    justify-content: center; /* Zentriert den Inhalt horizontal */
    align-items: center; /* Zentriert den Inhalt vertikal */
}

article {
    margin-bottom: 20px;
}

form {
    margin: 0;
}


footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: auto;
}

#text-post-field-button-container {
    margin: 10px;
}

.posts {
    overflow-y: scroll; /* Nur vertikales Scrollen zulassen */
    width: 900px;
    height: 67vh;
    display: flex;
    flex-direction: column; /* Vertikales Stapeln der Posts */
    border: 3px solid #dddddd;
    border-radius: 5px;
    background-color: #eeeeee;
}

#main {
    width: 90%;
    max-width: 940px;
    padding: 20px;
    padding-right: 20px;
    
    border-radius: 5px;
    
    
    
    margin: 20px auto; /* Zentriert den Block horizontal */
}

#post-field {
    display: flex;
    flex-direction: column; /* Sicherstellen, dass die Posts vertikal gestapelt werden */
    width: 100%; /* Optional: Stellt sicher, dass der Container die volle Breite einnimmt */
    background-color: #eeeeee;
    border-radius: 5px;
}


#logoutButton {
    background-color: #746d6d;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#logoutButton:hover {
    background-color: #746d6d;
}

input[type=submit] { 
    display: inline-block;
    margin-top: 10px;
    padding: 10px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    border:none;
 
}
input[type=submit]:hover{
    background-color: #0056b3;
    
}
input[type=text] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 0 auto;
    font-size: 16px;
    width: 60%;
}
input[type=file] {
    display: none;
}

/* Stil für das Label, das den Datei-Input ersetzt */
label.custom-file-upload {
    display: inline-block;
    margin-top: 10px;
    padding: 7px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer; /* Cursor als Zeiger, um die Klickbarkeit anzuzeigen */
    border: none;
}

label.custom-file-upload:hover {
    background-color: #0056b3;
}

#control-panel{
    margin-top: 10px;
    background-color: #eeeeee;
    border-radius: 5px;
    padding-left:5px;
    padding-right: 5px;
    border: 3px solid #dddddd;
}

