/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

main {
    padding: 20px;
}

article {
    margin-bottom: 20px;
}

footer {
    
    background: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

#text-post-field-button-container{
    margin:10px;
}

.flex-container-post{
    padding: 10px;
    display:flexbox;
    border:3px solid grey;
    width: 100%;
    margin: 10px;
}

.flex-container-post-username {
    font-size:20px;
    color: purple;
    font-weight: bold;
    
}

.flex-container-post-header {
    display: flex;
}

.flex-container-post-header > div {
    margin: 5px;
}

.posts{
    overflow: scroll;
    width: 900px;
    height: 500px;

}

.flex-container-post-date{
    color: grey;
    font-style: italic;
    font-size:20px;
}