<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mein Blog</title>
    <link rel="stylesheet" href="../style/style.css">
    <link rel="stylesheet" href="../style/postContainer.css">
</head>

<body>
    <header>
        <h1>Blog</h1>
        <form action="/blog/logout" method="post"><input id="logoutButton" type="submit" name="logout" value="Logout"></form>
    </header>
    
       

    <div id="main">
        <div class="posts" id="posts">
            <main id="post-field"></main>
        </div>

        <form id="post-form" method="post">
            <div id="text-post-field-button-container">
                <div id="text-post-field-info"></div>
                <input type="text" id="post-text-field" name="text_input">
                <input id="post-text-button" type="submit" value="send" name="upload_button">
                <input type="file" id="file-input" name="file_input" accept="video/mp4,image/jpg, image/png">
            </div>
            <div id="friends-list-add-friends-container">
                <label for="friends">add friends:</label>
                <select name="friends" id="friends">
                </select>
            </div>
        </form>
    </div>

    <footer>
        <p>&copy; 2024 Blog</p>
    </footer>

    <script type="module" src="/js/builder.js"></script>
    <script type="module" src="/js/postEventHandler.js"></script>
    <script type="module" src="/js/friendslist.js"></script>
    <script type="module" src="/js/autoFetch.js"></script>
</body>

</html>
