<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mein Blog</title>
    <link rel="stylesheet" href="../style/style.css">
</head>
<body>
    <header>
        <h1>Willkommen zu Mein Blog</h1>
    </header>
    <nav>
        <ul>
            <li><a href="#">Startseite</a></li>
            <li><a href="#">Über</a></li>
            <li><a href="#">Kontakt</a></li>
            <li><form action="/blog/logout" method="post"><input type="submit" name="logout" value="Logout"></form></li>
        </ul>
    </nav>
    <main id="post-field">
        <p>Write a message!</p>
    </main>
    <div id="text-post-field-button-container">
    <input type="text" id="post-text-field"><button id="post-text-button">Send</button><input type="file" id="post-media-field">
    </div>
    <div id="friends-list-add-friends-container">
        <label for="friends">add friends:</label>
     <select name="friends" id="friends">
     </select>
    </div>
    <footer>
        <p>&copy; 2024 Mein Blog</p>
    </footer>
    <!--<script type="module" src="/js/builder.js"></script>-->
    <script type="module" src="/js/uploadPost.js"></script>
    <script type="module" src="/js/friendslist.js"></script>
    
    
</body>
</html>
