<div class="flex-container-post">
    <%= `<img src=''>`  %>
    <div class="flex-container-post-header">
        <%= username %>
    </div>
    <div class="flex-cantainer-post-input">
        <%= post %>
    </div>
</div>





