<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link href="../style/login.css" rel="stylesheet" type="text/css"></link>
</head>
<body>
    <h1>Register</h1>
    <form method="post">
    <div>
        <input type="text" id="username" name="username">
        <input type="password" id="password" name="password">
        <input type="submit"> 
    </div>
    <% if (typeof error !== 'undefined') { %>
       
         <p class="error-info"><%= error %></p>
      
    <% } %>
</form>    
</body>
</html>